/* Media queries para ajustes de pantalla */
@media (max-width: 800px) {
    .sidebar {
        width: 100%;
        float: none;
    }

    .contenido {
        margin-left: 0;
        width: 100%;
    }

    body {
        font-size: 14px;
        background-color: red;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 14px;
        background-color: pink;
    }

    header {
        padding: 0.5rem;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .sidebar {
        display: none;
        /* Oculta la barra lateral en móviles */
    }
}